@model PostEditViewModel
@{
    ViewData["Title"] = "Edit Post";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <hr/>
    </div>

    <div class="row">
        <form asp-action="Edit" asp-antiforgery="true" class="postForm" method="post"
              novalidate="novalidate">
            <input asp-for="PostId" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-field">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="full-width" type="text" required="required"
                       data-msg="Please enter a title." placeholder="Title"/>
            </div>

            <div class="form-field">
                <label asp-for="Slug"></label>
                <em>This is the part of the URL that will be used to identify this post</em>
                <input asp-for="Slug" class="full-width" type="text" required="required"
                       data-msg="Please enter a slug." placeholder="Slug"/>
            </div>

            <div class="form-field">
                <label asp-for="Description"></label>
                <em>Short post description displayed on home-page</em>
                <textarea asp-for="Description" class="form-control" required="required" 
                    placeholder="Description" data-msg="Post description cannot be empty." 
                    style="resize: vertical;" rows="5">
                </textarea>
            </div>

            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="summernote form-control" required="required"
                          data-msg="Post content cannot be empty." style="display: none;">
                </textarea>
            </div>

            <label class="form-field add-bottom">
                <span class="label-text">Publish post?</span>
                <input asp-for="Published" type="checkbox"/>
            </label>

            <div class="form-field">
                <button onclick="location.href = '@Url.Action("AnyPost", "Blog", new {slug = @Model.Slug})'"
                        type="button" class="btn-cust btn-cust--danger">
                    Back to post
                </button>
                <input type="submit" value="Save Changes" class="btn-cust btn-cust--success" id="btnSubmit"/>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("https://cdn.jsdelivr.net/npm/jquery-validation@1.14.0/dist/jquery.validate.min.js")">

    </script>

    <script>
        $(document).ready(function() {
            $(function() {
                var postForm = $('.postForm');
                var contentEditor = $('.summernote');

                var postFormValidation = postForm.validate({
                    errorElement: "div",
                    errorClass: 'is-invalid',
                    validClass: 'is-valid',
                    ignore: ':hidden:not(.summernote),.note-editable.card-block',
                    title: { rangelength: [10, 250] },
                    errorPlacement: function(error, element) {
                        error.addClass("invalid-feedback");
                        error.addClass("text-danger");
                        if (element.prop("type") === "checkbox") {
                            error.insertAfter(element.siblings("label"));
                        } else if (element.hasClass("summernote")) {
                            error.insertAfter(element.siblings(".note-editor"));
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });

                contentEditor.summernote({
                    height: 600,
                    disableResizeImage: true,
                    callbacks: {
                        onChange: function(contents, $editable) {
                            contentEditor.val(contentEditor.summernote('isEmpty') ? "" : contents);
                            postFormValidation.element(contentEditor);
                        }
                    }
                });

            });
        });
    </script>
    @if (ViewData["PostManagerMessage"] != null)
    {
        <script>
            $(document).ready(function() {
                swal("@ViewData["PostManagerMessage"]", { icon: "info" });
            });
        </script>
    }
}