@model PostManagerViewModel

@{
    ViewData["Title"] = "Post Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
@if (!Model.BlogPosts.Any())
{
    <h4>There are currently no posts.</h4>
}

<button type="button" onclick="location.href = '@Url.Action("AddPost", "PostManager")'"
        class="btn btn-success">
    Create New Post
</button>

@if (Model.BlogPosts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPosts.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPosts.First().AuthorUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPosts.First().IsPublished)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BlogPosts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewPost", new {slug = @item.Slug }) |
                        @Html.ActionLink("Edit", "Edit", new { postId = @item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { postId = @item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewData["PostManagerMessage"] != null)
{
    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Message:</h2>
                </div>
                <div class="modal-body">
                    <h3>@ViewData["PostManagerMessage"]</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(function () {
                $('#messageModal').modal('show');
            });
        });
    </script>
}
