@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PostViewModel
@{
    ViewData["Title"] = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-fluid">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <h5>Published @Model.PubDate</h5>

        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEditPosts")).Succeeded)
        {
            <button type="button" onclick="location.href = '@Url.Action("Edit", "PostManager", new {postId = @Model.Id})'"
                    class="btn btn-primary btn-xs">
                Edit Post
            </button>
            <button type="button" onclick="location.href = '@Url.Action("Delete", "PostManager", new {postId = @Model.Id})'"
                    class="btn btn-danger btn-xs">
                Delete Post
            </button>
        }
        <hr/>

        @Html.Raw(Model.Content)
    </div>

    
    <div class="col-md-12">
        <hr />
        <h2>Leave a comment</h2>
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="textEditor" class="form-control" style="resize: vertical;" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
        <hr />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>John Smith</h3>
                    <h4>15/12/2018 22:49:49</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>John Smith</h3>
                    <h4>15/12/2018 22:49:49</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
            </div>
        </div>
    </div>
</div>