@model AccountDeleteViewModel
@{
    ViewData["Title"] = "Delete Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            <div class="form-horizontal">
                <h3>Delete account: @Html.DisplayFor(model => model.UserName)</h3>
                <h5>Are you sure you want to delete this account permanently?</h5>
                <hr />
                @Html.HiddenFor(model => model.UserName)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }
    }
    @if (ViewData["DeleteResult"] != null)
    {
        <!-- Modal -->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Message:</h2>
                    </div>
                    <div class="modal-body">
                        <h3>@ViewData["DeleteResult"]</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('#messageModal').modal('show');
            });
        });
    </script>
}