@model AccountViewModel
@{
    ViewData["Title"] = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <hr/>
    </div>

    <div class="row">
        <form asp-action="Edit" asp-antiforgery="true" method="post">
            <div class="form-horizontal">
                <h3>Edit account: @Html.DisplayFor(model => model.UserAccount.UserName)</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserAccount.Id)
                @Html.HiddenFor(model => model.UserAccount.UserName)

                <div class="form-field">
                    @Html.LabelFor(model => model.UserAccount.Name)
                    @Html.EditorFor(model => model.UserAccount.Name,
                        new {htmlAttributes = new {@class = "full-width"}})
                    @Html.ValidationMessageFor(model => model.UserAccount.Name, "",
                        new {@class = "text-danger"})
                </div>

                <div class="form-field">
                    @Html.LabelFor(model => model.UserAccount.DisplayName)
                    @Html.EditorFor(model => model.UserAccount.DisplayName,
                        new {htmlAttributes = new {@class = "full-width"}})
                    @Html.ValidationMessageFor(model => model.UserAccount.DisplayName, "",
                        new {@class = "text-danger"})
                </div>

                <div class="form-field">
                    @Html.LabelFor(model => model.UserAccount.Email)
                    @Html.EditorFor(model => model.UserAccount.Email,
                        new {htmlAttributes = new {@class = "full-width"}})
                    @Html.ValidationMessageFor(model => model.UserAccount.Email, "",
                        new {@class = "text-danger"})
                </div>

                <div class="form-field">
                    @Html.LabelFor(model => model.UserAccount.PhoneNumber)
                    @Html.EditorFor(model => model.UserAccount.PhoneNumber,
                        new {htmlAttributes = new {@class = "full-width"}})
                    @Html.ValidationMessageFor(model => model.UserAccount.PhoneNumber, "",
                        new {@class = "text-danger"})
                </div>

                <div class="form-field">
                    @Html.LabelFor(model => model.UserAccount.Role)
                    @Html.DropDownListFor(x => Model.UserAccount.Role,
                        new SelectList(Model.AvailableIdentityRoles), new {@class = "full-width"})
                </div>

                <div class="form-field">
                    @Html.ActionLink("Back to List", "Index", new {},
                        new {@class = "btn btn--danger"})
                    <input type="submit" value="Save" class="btn btn--success" />
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    @if (ViewData["EditResult"] != null)
    {
        <script>
            $(document).ready(function() {
                swal("@ViewData["EditResult"]", { icon: "info" });
            });
        </script>
    }
}