@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model BlogViewModel
@{
    ViewData["Title"] = "Home";
}

<section class="s-content">
    @if (!@Model.BlogPosts.Any())
    {
        <div class="row s-content__header">
            <h1>This blog doesn't have any posts.</h1>
        </div>
    }
    @if (@Model.BlogPosts.Any())
    {
        <div class="row masonry-wrap">
            <div class="masonry">
                <div class="grid-sizer"></div>

                @foreach (var post in Model.BlogPosts)
                {
                    <article class="masonry__brick entry" data-aos="fade-up">
                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__date">
                                    <p class="postDate">@post.PubDate</p>
                                </div>
                                <h1 class="entry__title">
                                    @Html.ActionLink(post.Title, "Post", "Blog", new {@post.Slug}, null)
                                </h1>
                            </div>
                            <div class="entry__excerpt">
                                <p>@post.Description</p>
                            </div>
                            <div class="entry__meta">
                                <span class="entry__meta-links">
                                    @Html.ActionLink("Read More", "Post", "Blog", new {@post.Slug}, null)
                                </span>
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    }
</section>